<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="trafficjunky-site-verification" content="y6835rtvt" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/layout.css" />
    

    <meta name="description" content="Volta pra mim vitão...">
    <meta property="og:title" content="VitãoDelicia">
    <meta property="og:description" content="VITÃO">
    <meta property="og:image" content="https://po.ta.to">
    <meta property="og:image:alt" content="VITÃO">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
  
    <link rel="icon" href="/ovo.ico">

    <%- css%>
    <title>SaudadeDoVitão</title>
  </head>

  <body>
    
    <div id="app"><%- body%></div>

    <script src="js/layout.js"></script>
  </body>
</html>
