.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 30vh;
  text-align: center;
}
.main h1 {
  font-size: 12em;
  color: #f1f1f1;
  filter: drop-shadow(0 0 0.75rem #14dc57);
}
.main .autocomplete input {
  margin-top: 20px;
  width: 400px;
  font-size: 1.7em;
  padding: 5px;
  border-radius: 3px;
}
.main .autocomplete input:focus {
  outline: none;
}
.main button {
  font-size: 2em;
  margin-top: 5px;
  border-radius: 3px;
}
@media (max-width: 600px) {
  #domTagInput {
    width: 200px;
  }
  h1 {
    font-size: 4em !important;
  }
}
#addTag {
  display: none;
}
#domTagInput{
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
  background: linear-gradient(270deg, var(--mainColor1) 0%, var(--mainColor2) 70%);
  box-shadow: inset 0px 0px 4px 1px rgba(1, 38, 122, 0.5);
  border-radius: 16px;
  font-size: 20px;
  border: 0;
  padding: 20px;
  color: white !important;
}
button{
  margin-top: 0 !important;
  background: linear-gradient(270deg, var(--mainColor1) 0%, var(--mainColor2) 70%);
  border: 0;
  padding: 10px;
  color:white  !important;
  transition: 0.3s;
}
button:hover{
  cursor: pointer;
  filter: brightness(130%) drop-shadow(0 0 1px black);
}