

body{
  height: 2000px;
  overflow: hidden;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 30vh;
  text-align: center;
}
.main h1 {
  font-size: 12em;
  color: #f1f1f1;

}
.main .autocomplete input {
  margin-top: 10px;
  width: 400px;
  font-size: 1.7em;
  padding: 2px;
  border-radius: 3px;
}
.main .autocomplete input:focus {
  outline: none;
}
.main button {
  font-size: 2em;
  margin-top: 5px;
  border-radius: 3px;
}
@media (max-width: 600px) {
  #domTagInput {
    width: 80vw;
    height: 20px;
    margin-top:10px !important;
  }
  h1 {
    font-size: 6em !important;
  }
  
}
#addTag {
  display: none;
}
#domTagInput {
    margin-top: -10px;
    margin-left: 0;
    margin-right: 0;
    background: var(--gradient);
    font-size: 20px;
    border: 0;
    padding: 14px;
    color: white !important;
}
button{
  margin-top: 0 !important;
  background: var(--gradient);
  border: 0;
  padding: 10px;
  color:white  !important;
  transition: 0.3s;
}
button:hover{
  cursor: pointer;
  filter: brightness(130%) drop-shadow(0 0 1px black);
}