:root {
  --bodyColor: #152342;
  --mainColor: #3f184b;
  --white: #fcfcfc;
  --selectedColor: #14FF72;
  --mainColor1: #5F45FF;
  --mainColor2: #024DFA;
  --gradient: linear-gradient(90.47deg, #5F45FF 0%, #024DFA 75.64%);
}
@font-face {
  font-family: 'Cute Font';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cutefont/v8/Noaw6Uny2oWPbSHMrY6vmA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lobster/v23/neILzCirqoswsqX9_oU.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtvAw.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: white;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}
body {
  background-color: var(--bodyColor);
  font-size: 9px;
  font-family: "Lobster", cursive;
}
input,
textarea,
button {
  color: black;
  font-family: "Courier New", Courier, monospace !important;
}
a {
  color: var(--white);
}
.app {
  width: 100%;
  height: 100%;
}
.selected {
  color: var(--selectedColor);
}
.mobileNavModal {
  z-index: 998;
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
