

#head {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4vh;
}
.modalMedia {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
#modalMediaContent {
  display: flex;
}
#modalMediaContent .imgContainer img {
  max-width: 80vw;
  max-height: 99vh;
  height: auto;
  width: auto;
}
#modalMediaContent .imgContainer video {
  max-width: 80vw;
  max-height: 100vh;
  height: auto;
  width: auto;
}


#modalMediaContent .infoContainer {
  padding:10px;
  background-color: black;
  max-height: 95vh;
  overflow:scroll;
  font-size: 15px;
  font-weight:500;
  font-family: 'helvetica'
}
.infoContainer::-webkit-scrollbar {
  display: none;
}

#modalMediaContent .infoContainer a{
  max-width:100px;
  overflow:hidden;
  display:block;
  margin:1px;
  padding:5px;
  background: linear-gradient(270deg, var(--mainColor1) 0%, var(--mainColor2) 70%);
}
#modalMediaContent .infoContainer a:hover{
  opacity: 0.5;
}


#body {
    max-width: 1900px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 3vh;
}

#navBar {
    z-index: 10;
    position:fixed;
    width:100%;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  background: #090909;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  height: 60px;
}
@media (max-width: 600px) {
  div#logoDiv {
      font-size: 9px;
  }
  #modalMediaContent .infoContainer {
    display: none;
  }
  #turnToBest{
      margin-top: 10px;
  }
}
#logo{
  font-size: 3.6em;
  color: var(--selectedColor);
  padding: 10px;
  padding-left: 20px;
  padding-right: 40px;
  position:fixed;
  z-index: 999;
}
#logo:hover{
  text-shadow: 0px 0px  30px #36eb6c;
}
#navBar div#logoDiv div #logo {
  color: var(--selectedColor);
}
#navBar div#logoDiv div #logo:hover {
  color: white;
}
#navBar input {
    border-radius:3px 0 0 3px;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
  background-color: var(--gradient);
  font-size: 20px;
  border: 0;
  padding: 20px;
  color: white !important;
}
#navBar span {
  display: flex;
  margin-top: 10px;
  height: 40px;
  background-color: var(--gradient);
  color:var(--selectedColor);
  align-items: center;
  justify-content: center;
  font-size: 50px;
  width: 50px;
  border-radius: 0px 3px 3px 0px;
  cursor: pointer;
}
#navBar span span {
  font-weight: bolder;
  margin: 0 ;
  line-height: 0;

}
#navBar span:hover {
  background-color: var(--gradient);
}
#navBar span:hover span {
  color: white;
}
#navBar input:focus {
  outline: 0;
}
#navBar div#applySearchQuery {
  align-items: center;
  justify-content: center;
  display: none;
}
@keyframes pulse {
  0% {
    color: var(--white);
  }
  100% {
    color: var(--selectedColor);
  }
}
#navBar div#applySearchQuery a {
  animation-name: pulse;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  font-size: 2.9em;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(7, 8, 71, 0.349);
  background-color: var(--mainColor1);
  transition: 0.2s;
}
#navBar div#applySearchQuery a:hover {
  box-shadow: inset 1px 1px 10px rgba(7, 8, 71, 0.349);
  transform: scale(1.1);
}
#navBar nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
#navBar nav ul div {
  cursor: pointer;
  border-radius: 2px;
  padding: 10px;
  margin-right: 15px;
}
#navBar nav ul div li {
  font-size: 3em;
}
#navBar nav ul div:hover {
  background-color: var(--mainColor);
}
@media (max-width: 600px) {
  #navBar nav ul div.navUlDesktop {
    display: none;
  }
}
#navBar nav ul .hamburguer {
  color: var(--white);
  font-size: 4em;
  display: none;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  #navBar nav ul .hamburguer {
    display: none;
  }
}
#managementContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-family: "Cute Font" !important;
}
#pageSelector {
  margin-bottom:-30px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-radius: 4px;
}
#pageSelector #pageNumber {
  height: 45px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
}
#pageSelector #pageNumber span {
  height: fit-content;
}
#pageSelector a {
  width: fit-content;
  height: 45px;
}
#pageSelector div {
  height: fit-content;
  overflow: hidden;
}
#pageSelector img {
  border-radius: 0 4px 4px 0;
  height: 45px;
  transition: 0.3s;
}

#pageSelector img:hover {
  cursor: pointer;
  background-color: var(--selectedColor);
}
#pageSelector #previus {
  transform: scaleX(-1);
}
#managementContainer #tagsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: var(--gradient);
  font-family: "Cute Font" !important;
  padding-right: 10px;
  padding-left: 10px;
     margin-top: 150px;
}
#DIVMinQuality{
  width: 132.9px;
  margin: 0 auto;
  margin-top:-3px;
  background-color:var(--gradient);
  margin-bottom:30px;
  font-size:30px ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 5px 5px;
  font-family: "Cute Font" !important;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.25);
  padding-right: 10px;
  padding-left: 10px;
}
#DIVMinQuality span{
  

}
#displayQualidade {
    color: var(--selectedColor);
}
#inputMinQuality{
   
    padding: 10px;
  margin-top:10px;
  width: 132.92px;
  margin-left:10%;
  margin-right:10%;
  -webkit-appearance: none;
  background: var(--gradient);
  box-shadow: 0px 0px 4px 2px rgb(0 0 0 / 25%);
  outline: none;
  border-radius: 3px;
}
#inputMinQuality::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--selectedColor);
  cursor: pointer;
  border-radius: 3px;
}
#managementContainer #tagsContainer #label {
  margin-right: 20px;
  font-size: 30px;
}
#managementContainer #tagsContainer #tagsSection {
  display: flex;
  max-width: 70vw;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#managementContainer #tagsContainer #tagsSection::-webkit-scrollbar {
  display: none;
}
#managementContainer #tagsContainer #tagsSection span {
  border-radius: 3px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
}
#managementContainer #tagsContainer #tagsSection span a.tagDelete {
  background-color: #db1212;
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-align: center;
  margin-right: 10px;
}
data {
  display: none;
}
input {
  width: 100%;
}


#imageBoard {
  border-radius: 3px;
  width: 95vw;
  padding: 15px 15px;
  columns:7;
  grid-gap: 2vw;
  break-inside: avoid;
}
@media (max-width: 900px) {
  #imageBoard {
    columns: 6;
  }
}
@media (max-width: 750px) {
  #logo{
    display:none;
  }
  #imageBoard {
    columns: 5;
  }
}
@media (max-width: 600px) {
  #tagsContainer{
    margin-top:100px !important;
  }
  #logo{
    display:none;
  }
  #imageBoard {
    columns: 4;
  }
}
@media (max-width: 400px) {
  #imageBoard {
    columns: 3;
  }
}
#imageBoard .figureVideo {
  border: 1px solid rgb(47, 246, 253);
}
#imageBoard .figureGif {
  border: 1px solid #36eb6c;
}
#imageBoard .figureImage {
  border: 1px groove rgb(250, 43, 215);
}
#imageBoard figure {
  break-inside: avoid;
  margin-bottom: 3vh;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
}
    #imageBoard figure figcaption {
        background-image: linear-gradient(to bottom, rgba(59, 58, 58,0.8), rgba(59, 58, 58,1));
        margin-top: -30px;
        color: #dfdfdf;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        position: relative;
        z-index: 6;
        padding:3px;
        padding-bottom:2px;
    }
#imageBoard figure img {
  cursor: pointer;
  max-height: 400px;
  width: auto;
  width: 100%;
  transition: 0.2s;
  filter: brightness(100%);
}
#imageBoard figure video {
  width: 100%;
}
#imageBoard figure img:hover {
  filter: brightness(130%);
}
#options {
  background: #32303a;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 17vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#options #autocomplete {
  display: flex;
  justify-content: center;
}
#options input {
  width: 80%;
}
@media (max-width: 600px) {
  #options {
    display: none;
  }
}

#turnToBest{
  color:#dfdfdf;
  font-size: 25px;
  background-color: var(--gradient);
  padding: 3px;
  border-radius:3px;
  padding-left: 10px;
  padding-right: 10px;
}
#turnToBest:hover{
    color: var(--selectedColor);
}


.star{
  margin-left: 10px;
}
.star:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.clicked{
  color:orange;
}