<!-- Mobile -->
<div id="mobileNavModal" class="mobileNavModal">
  <h1>
    <a class="possibleSelected" href="r34/posts">Posts</a>
  </h1>
  <h1>
    <a class="possibleSelected" href="r34/tags">Tags</a>
  </h1>
</div>

<!-- Desktop -->
<div id="logoDiv">
  <div>
    <a href="/" id="logo">R34.io</a>
  </div>
</div>
<div id="navBar">

  <%- include('search')%>
  <div id='applySearchQuery'>
    <a href="">Apply</a>
  </div>
</div>
