<!-- Mobile -->
<div id="mobileNavModal" class="mobileNavModal">
  <h1>
    <a class="possibleSelected" href="r34/posts">Posts</a>
  </h1>
  <h1>
    <a class="possibleSelected" href="r34/tags">Tags</a>
  </h1>
</div>

<!-- Desktop -->
<div id="navBar">
  <div id="logoDiv">
    <div>
      <a href="/" id="logo">R34.io</a>
    </div>
  </div>

  <%- include('search')%>
  <div id='applySearchQuery'>
    <a href="">Apply</a>
  </div>
  <nav>
    <ul>
      <div class="navUlDesktop">
        <li>
          <a class="possibleSelected" href="posts?tags=&pid=0&quality=0">Posts</a>
        </li>
      </div>

      <div class="navUlDesktop">
        <li>

        </li>
      </div>

      <li class="navUlDesktop hamburguer" onclick="hamburguerW3(this)">X</li>
    </ul>
  </nav>
</div>
