<%- contentFor('css') %>
<link rel="stylesheet" type="text/css" href="r34/css/home.css" />
<link rel="stylesheet" type="text/css" href="r34/css/layout.css" />
<%- contentFor('body') %>

<div class="main">
  <h1>Vitão delicia</h1>
  <form action="r34/posts" autocomplete="off">
    <input type='number' value=0 name='quality' style='display:none'>
    <%- include('uses/search') -%>
    <br />
    <button type="submit">Search</button>
  </form>
</div>
