<%- contentFor('css') %>
<link rel="stylesheet" type="text/css" href="r34/css/home.css" />
<link rel="stylesheet" type="text/css" href="r34/css/layout.css" />
<%- contentFor('body') %>

<div class="main">
  <h1>R34.io</h1>
  <form action="r34/posts" autocomplete="off">
    <%- include('uses/search') -%>
    <br />
    <button type="submit">Search</button>
  </form>
</div>
